.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tile-row {
  display: flex;
  flex-direction: row;
  border: 1px dotted pink;
  height: 80px;
}

.tile {
  border: 1px dotted white;
  text-transform: uppercase;
  font-size: 45px;
  height: 60px;
  width: 35px;
  margin: 10px 10px;
}

.board {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.blarg {
  width: 700px;
  height: 300px;
  border: 2px dotted green;
}
