$tw-color: red;
$dw-color: pink;
$dl-color: lightcyan;
$tl-color: skyblue;
$ct-color: $dw-color;

$tile-num: 15;
$tile-size: 32px;
$tile-color: beige;
$tile-border-color: white;
$tile-border-width: 2px;
$tile-font: bold 70%/1.5 "Open Sans", sans-serif;
$decal-font-color: rgba(0, 0, 0, .6);

$bg-color: white;
$board-color: maroon;
$board-border-color: darkred;
$board-size: $tile-size * $tile-num;
$board-border-width: round($board-size/80);

$row-height-adj: $tile-size + $tile-border-width * 2;
$board-size-adj: $board-size + $tile-border-width * ($tile-num * 2 + 1);

@mixin coloredSquare($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
}

@mixin tripleBorder($color) {
  background: linear-gradient(-45deg, transparent 50%, $color 0),
    linear-gradient(45deg, transparent 50%, $color 0),
    linear-gradient(-135deg, transparent 50%, $color 0),
    linear-gradient(135deg, transparent 50%, $color 0);
  background-repeat: repeat-x;
  background-position: 25% calc(100% + #{$tile-border-width}),
  25% calc(100% + #{$tile-border-width}),
  25% -#{$tile-border-width},
  25% -#{$tile-border-width};
  background-size: (100% / 3) ($tile-border-width * 6);
  width: 78%;
  left: 11%;
}

@mixin doubleBorder($color) {
  background: linear-gradient(-45deg, transparent 50%, $color 0),
    linear-gradient(45deg, transparent 50%, $color 0),
    linear-gradient(-135deg, transparent 50%, $color 0),
    linear-gradient(135deg, transparent 50%, $color 0);
  background-repeat: repeat-x;
  background-position: 50% calc(100% + #{$tile-border-width}),
  50% calc(100% + #{$tile-border-width}),
  50% -#{$tile-border-width},
  50% -#{$tile-border-width};
  background-size: (100% / 2) ($tile-border-width * 6);
  width: 52%;
  left: 24%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

body {
  height: 100vh;
  background: $bg-color;
}

#js-board {
  @include coloredSquare($board-size-adj, $board-color);
  min-width: $board-size-adj;
  min-height: $board-size-adj;
  border: outset $board-border-color $board-border-width;
  margin: 40px auto;

  .board {
    background-color: $tile-border-color;
    padding: $tile-border-width / 2;

    .row {
      height: $row-height-adj;

      .tile {
        @include coloredSquare($tile-size, $tile-color);
        border: solid $tile-border-color $tile-border-width;
        display: inline-block;
        font: $tile-font;
        color: $decal-font-color;

        &::after {
          @include coloredSquare(33%, transparent);
          content: '0';
          content: attr(data-value);
          position: absolute;
          bottom: 2px;
          right: 3px;
          font-size: 70%;
          line-height: 140%;
          text-align: right;
          z-index: 999;
        }

        &.tile-ct {
          background-color: $ct-color;

          .decal::before {
            content: '\2605';
            font-size: 200%;
          }
        }

        &.tile-dl,
        &.tile-dw,
        &.tile-tw,
        &.tile-tl {
          .decal {

            &::before,
            &::after {
              content: '';
              position: absolute;
              top: -$tile-border-width * 2;
              height: calc(100% + #{$tile-border-width} * 4);
              z-index: 999;
              transform: scaleX(0.7);
            }

            &::after {
              transform: scaleY(0.7) rotate(90deg);
            }
          }
        }

        &.tile-dl {
          background-color: $dl-color;

          .decal {

            &::before,
            &::after {
              @include tripleBorder($dl-color);
            }
          }
        }

        &.tile-dw {
          background-color: $dw-color;

          .decal {

            &::before,
            &::after {
              @include tripleBorder($dw-color);
            }
          }
        }

        &.tile-tw {
          background-color: $tw-color;

          .decal {

            &::before,
            &::after {
              @include tripleBorder($tw-color);
            }
          }
        }

        &.tile-tl {
          background-color: $tl-color;

          .decal {

            &::before,
            &::after {
              @include tripleBorder($tl-color);
            }
          }
        }

        .decal {
          @include coloredSquare(100%, transparent);
          position: absolute;
          text-align: center;
          line-height: $tile-size;
          text-transform: uppercase;
          border-radius: 12%;
          overflow: visible;
          cursor: pointer;
        }

        input {
          @extend .decal;
          font-size: 150%;
          text-align: left;
          text-indent: 25%;
          z-index: 999;
          color: transparent;

          &:focus {
            background: repeating-linear-gradient(45deg, rgba(0, 0, 0, .1),
                rgba(0, 0, 0, .1) 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 20px);
          }

          &.filled {
            background-color: goldenrod;
            text-shadow: 0px -1px 0px $decal-font-color;
          }
        }
      }

    }
  }
}

.App {
  // background-color:#585862;
  // background-color:#5e5862;

  // background-color:#626258;
  // background-color:#586262;
  // background-color:#58625a;
  // background-color: #282c34;
  // background-color: #F5EBED;
  // background-color: #ebf5f3;
  // background-color: #ebedf5;
  min-height: 100vh;
  min-width: 100vw;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  // color: white;
  // text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.computer-hand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 400px;

  @media (max-width: 2000px) {
    margin-right: 400px;
  }

  @media (max-width: 1500px) {
    margin-right: 300px;
  }

  @media (max-width: 750px) {
    margin-right: 100px;

  }
}

.hand-tile {
  @include coloredSquare($tile-size, $tile-color);
  border: solid $tile-border-color $tile-border-width;
  color: $decal-font-color;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  z-index: 1001;
  position: relative;
  top: -$tile-border-width * 4;
  cursor: pointer;
}

.computer-tile {
  cursor: auto;

}

.hand-tile-permanent {
  z-index: 1000;
  border: 2px solid #626258
}

.hand-tile-temporary {
  border: 2px solid yellow;
}

.score-in-tile {
  font-size: 10px;
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.look-3d {
  transform:
    perspective(800px) rotateY(-8deg);
  border-radius: 4px;
  box-shadow:
    rgba(16, 179, 220, 0.024) 0px 0px 0px 1px,
    rgba(15, 124, 214, 0.05) 0px 1px 0px 0px,
    rgba(11, 144, 239, 0.03) 0px 0px 8px 0px,
    rgba(23, 124, 213, 0.1) 0px 20px 30px 0px;
}

.letter-val {
  margin-top: 2px;
  font-size: 20px;
}

.score {
  font-size: 25px;
}

.word-builder-row {
  margin-top: 100px;
}

.info-icon {
  width: 30px;
  background-color: #F5EBED;
  border-radius: 15px;
  z-index: 1;
}

.score-card {
  background-color: #EBECD5;
  position: absolute;
  left: 5px;
  top: 60px;
  width: 250px;
  height: 73px;
  font-size: 20px;
  font-weight: 700;
  color: #626258;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

.score-card-num {}


.player-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.submit-button {
  text-transform: uppercase;
  margin: 10px 10px;
  width: 100px;
  height: 50px;
}

.pass-button {
  text-transform: uppercase;
  margin: 10px 10px;
  color: red;
  width: 100px;
  height: 50px;
}

.board-and-computer-hand {
  display: flex;
  flex-direction: row;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-60px);
  }
}

.slide-left {
  animation-duration: 1s;
  animation-name: slideLeft;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
  }
}

.fade-in-and-out {
  animation: fadeInAndOut 2s;
}

.notification-text {
  height: 0px;
  font-size: 20px;
  color: #00e0ff;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 .3px 0 #ccc, 0 .4px 0 #ccc,
    0 .5px 0 #ccc, 0 .6px 0 #ccc,
    0 .7px 0 #ccc, 0 .8px 0 #ccc,
    0 .9px 0 #ccc, 0 1.0px 0 #ccc,
    0 1.1px 0 #ccc, 0 1.2px 0 #ccc,
    0 2.0px 3.0px rgba(0, 0, 0, 0.5);
}
